<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Aggealing</title>
  </head>
  <body>
    <div style="color:darkslategray; background-color: black; text-align: left; font-size: 20px">~Present Recommendation System~</div>
    <div style="color:black; background-color: white; text-align: center; font-size: 40px">Aggealing</div>

    <div style="color:black; background-color: white; text-align: left; font-size: 20px">Select categorys</div>
    <!-- select box by Bootstrap -->
    <!-- https://getbootstrap.com/docs/4.4/components/input-group/#custom-select -->
    <div class="category1">
        <div>Category 1</div>
        <select class="custom-select" id="categorySelect01" aria-label="setect category 1">
          <option selected>Choose...</option>
          <option value="1">財布</option>
          <option value="2">時計</option>
          <option value="3">香水</option>
          <option value="4">ネックレス</option>
          <option value="5">ネクタイ</option>
        </select>
    </div>
    <div class="category2">
        <div>Category 2</div>
        <select class="custom-select" id="categorySelect02" aria-label="setect category 2">
          <option selected>Choose...</option>
          <option value="1">財布</option>
          <option value="2">時計</option>
          <option value="3">香水</option>
          <option value="4">ネックレス</option>
          <option value="5">ネクタイ</option>
        </select>
    </div>
    <div class="category3">
        <div>Category 3</div>
        <select class="custom-select" id="categorySelect03" aria-label="setect category 3">
          <option selected>Choose...</option>
          <option value="1">財布</option>
          <option value="2">時計</option>
          <option value="3">香水</option>
          <option value="4">ネックレス</option>
          <option value="5">ネクタイ</option>
        </select>
    </div>
    <div class="category4">
        <div>Category 4</div>
        <select class="custom-select" id="categorySelect04" aria-label="setect category 4">
          <option selected>Choose...</option>
          <option value="1">財布</option>
          <option value="2">時計</option>
          <option value="3">香水</option>
          <option value="4">ネックレス</option>
          <option value="5">ネクタイ</option>
        </select>
    </div>
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Set</button>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>